@import "./base.css";
@import "./form.css";
@import "./link.css";
@import "./button.css";

/* app
-------------------------------------------------------------- */
.wrapper {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
  max-width: 960px;
  margin: 0 auto;
  background-color: #ffffff;
}
.header {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  padding: 15px 30px;
  /* background-color: #556b2f; */
  background-color: #f1f1f1;
}
.main {
  flex: 1;
  padding: 30px;
}
.footer {
  padding: 15px 30px;
  background-color: #f1f1f1;
}

.logo {
  margin-right: 30px;
  font-size: 20px;
  font-weight: bold;
  color: #bc63ff;
}
.main-nav {
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto 0 0;
  padding: 0;
  list-style: none;
}
.main-nav__item {
  margin-right: 15px;
}
.main-nav__link {}

.customer {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.customer-nav {
  display: flex;
  flex-flow: row wrap;
  margin: 0 -15px 0 0;
  padding: 0;
  list-style: none;
}
.customer-nav__item {
  margin-right: 15px;
}
.customer__profile {
  display: block;
  position: relative;
  margin-left: 15px;
  padding: 10px 15px;
  background-color: #ffffff;
  /* padding-left: 28px; */
  border-radius: 5px;
}
.customer__profile:link,
.customer__profile:visited {
  border-bottom: 0;
}

/* register
--------------------------------------------------------------- */
.register-form {
  max-width: 50%;
}

/* login
--------------------------------------------------------------- */
.login-form {
  max-width: 50%;
}

/* catalog
--------------------------------------------------------------- */
.catalog {}
.catalog__grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  margin-bottom: 15px;
  border-top: 1px solid #e1e1e1;
  border-left: 1px solid #e1e1e1;
}
.catalog__item {
  border-right: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
}
.cat-item {
  padding: 15px;
  font-size: 14px;
}
.cat-item__img {
  overflow: hidden;
  display: block;
  position: relative;
  margin-bottom: 15px;
}
.cat-item__img:before {
  content: "";
  display: block;
  padding-top: 60%;
}
.cat-item__img:after {
  content: "";
  display: block;
  padding-bottom: 60%;
}
.cat-item__img > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.cat-item__img > img:first-child { display: block; }
.cat-item__img > img:last-child { display: none; }
.cat-item:hover .cat-item__img > img:first-child { display: none; }
.cat-item:hover .cat-item__img > img:last-child { display: block; }

.cat-item__title {
  overflow: hidden;
  display: inline-block;
  height: 32px;
  margin-bottom: 5px;
}
.cat-item__footer {
  display: flex;
  flex-flow: row nowrap;
}
.cat-item__aside {
  margin-right: auto;
}
.cat-item__new-price {
  margin-bottom: 5px;
  font-size: 24px;
}
.cat-item__stock {}
.cat-item__stock--in {
  color: #0fc70f;
}
.cat-item__stock--ends {
  color: orange;
}
.cat-item__stock--out {
  color: red;
}
.cat-item__buy {}
.cat-item__btn-buy {
  position: relative;
  padding: 8px;
  background-color: #ffffff;
}
.cat-item__btn-buy:hover {
  background-color: #f6ebff;
}
.cat-item__btn-buy:before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background: url("/assets/svg/shopping_cart_color_24dp.svg") center center no-repeat;
}

.cat-order {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 15px;
  font-size: 14px;
}
.cat-order__section {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin-right: 15px;
}
.cat-order__title {
  margin-right: 15px;
}
.cat-order__list {
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}
.cat-order__item {
  margin-right: 15px;
}
.cat-order__link,
.cat-order__link:link,
.cat-order__link:visited {
  color: #a1a1a1;
}
.cat-order__link:hover,
.cat-order__link:active {
  color: #000000;
}

.cat-filter {}

/* customers
--------------------------------------------------------------- */
.customers {}
.customers__table {
  text-align: left;
}
.customers__table th,
.customers__table td {
  padding: 5px 10px;
}

/* cart
--------------------------------------------------------------- */
.cart {}
.cart__items {}
.cart__item {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #cccccc;
}
.cart-item {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.cart-item__img {
  max-width: 75px;
  margin-right: 30px;
}
.cart-item__img > img {
  display: block;
  max-width: 100%;
  height: auto;
}
.cart-item__title {
  max-width: 200px;
  margin-right: 30px;
}
.cart-item__stock {
  margin-right: 30px;
}
.c-item-stock {
  text-align: center;
}
.c-item-stock__title {
  margin-bottom: 3px;
  color: #a1a1a1;
}
.cart-item__buy-quantity {
  margin-right: 30px;
}
.c-item-quantity {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.c-item-quantity__value {
  flex: 1;
  max-width: 70px;
}
.c-item-quantity__single {
  padding: 0 15px 0 10px;
}
.c-item-quantity__set {
  /* background-color: #f1f1f1; */
}
.cart-item__price {
  margin-left: auto;
  margin-right: 15px;
  font-size: 24px;
  line-height: 1;
}
.cart-item__remove-form {
  position: relative;
  transform: rotate(45deg);
}
.cart-item__remove-btn {
  width: 32px;
  height: 32px;
  font-size: 32px;
  line-height: 24px;
  border: 0;
  text-align: center;
  background-color: transparent;
  color: #ff0000;
  border-radius: 16px;
  cursor: pointer;
}
.cart-item__remove-btn:hover {
  background-color: #ffe8e8;
}

.cart__total {
  margin-bottom: 30px;
  font-size: 24px;
  text-align: right;
}
.cart-total {
  display: flex;
  flex-flow: row wrap;
}
.cart-total__title {
  margin-right: 15px;
  margin-left: auto;
  color: #c1c1c1;
}
.cart-total__value {
  min-width: 120px;
}
.cart__checkout {
  text-align: right;
}

/* checkout
--------------------------------------------------------------- */
.checkout {}
.checkout__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.checkout__item {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #cccccc;
}
.checkout__item:last-child {}
.checkout-item {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.checkout-item__img {
  width: 30px;
  margin-right: 30px;
}
.checkout-item__img > img {
  display: block;
  max-width: 100%;
  height: auto;
}
.checkout-item__title {
  margin-right: 30px;
}
.checkout-item__buy-quantity {
  margin-left: auto;
  margin-right: 30px;
}
.checkout-item__buy-price {
  min-width: 120px;
  font-size: 24px;
  text-align: right;
}
.checkout__total {
  margin-bottom: 30px;
  font-size: 24px;
  text-align: right;
}
.checkout-total {
  display: flex;
  flex-flow: row wrap;
}
.checkout-total__title {
  margin-right: 15px;
  margin-left: auto;
  color: #c1c1c1;
}
.checkout-total__value {
  min-width: 120px;
}
.checkout__submit {
  text-align: left;
}

/* product
--------------------------------------------------------------- */
.product {
  display: flex;
  flex-flow: row wrap;
}
.product__aside {
  overflow: hidden;
  width: 300px;
  margin-right: 30px;
}
.product__img {
  margin-bottom: 15px;
}
.product__main {
  flex: 1;
}
.product__title {
  font-size: 24px;
  font-weight: normal;
}
.product__desc {
  margin-bottom: 15px;
}
.product__buy {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
.product__price {
  margin-right: 30px;
  font-size: 24px;
}
.product__stock {
  margin-bottom: 15px;
  font-size: 18px;
}
.product__stock--in {
  color: #0fc70f;
}
.product__stock--ends {
  color: orange;
}
.product__stock--out {
  color: red;
}
