{{ template "baseLayout" . }}

{{ define "title" }} Cart {{ end }}

{{ define "main" }}
<div class="cart">

  {{ $data := . }}

  {{ if gt (len .Products) 0 }}
  <h1>Cart has {{ len .Products }} items.</h1>
  <div class="cart__items">
    {{ range .Products }}
    <div class="cart__item">
      <div class="cart-item">
        <div class="cart-item__img">
          <img src="{{ (index .Images 0).ImageUrl }}" alt="cart-product-image">
        </div>
        <a href="/product/{{ .ProductId }}" class="link cart-item__title">{{ .Title }}</a>
        <div class="cart-item__stock">
          <div class="c-item-stock">
            <div class="c-item-stock__title">Stock</div>
            <div class="c-item-stock__quantity">{{ .Quantity }}</div>
          </div>
        </div>
        <div class="cart-item__buy-quantity">
          <form action="/cart/products/update" method="post" class="c-item-quantity">
            <input type="hidden" name="product_id" value="{{ .ProductId }}">
            <input type="number" name="buy_quantity" max="{{ .Quantity }}" value="{{ .BuyQuantity }}" required class="control-input c-item-quantity__value">
            <div class="c-item-quantity__single">x {{ .Price }} грн</div>
            <button type="submit" class="button c-item-quantity__set">Set</button>
          </form>
        </div>
        <div class="cart-item__price">{{ calcPrice .BuyQuantity .Price }} грн</div>
        <form action="/cart/products/remove" method="post" class="cart-item__remove-form">
          <input type="hidden" name="product_id" value="{{ .ProductId }}">
          <button type="submit" class="cart-item__remove-btn">+</button>
        </form>
      </div>
    </div>
    {{ end }}
  </div>
  <div class="cart__total">
    <div class="cart-total">
      <div class="cart-total__title">Total price:</div>
      <div class="cart-total__value">{{ .TotalPrice }} грн</div>
    </div>
  </div>
  <div class="cart__checkout">
    <a href="/checkout" class="button button--primary">Checkout</a>
  </div>
  {{ else }} <h1>Cart is empty.</h1> {{ end }}
</div>
{{ end }}

{{ define "js" }}{{ end }}