{{ template "baseLayout" . }}

{{ define "title" }} Login {{ end }}

{{ define "main" }}
<h1>Login</h1>
<form action="/login" method="post" class="login-form">
  <div class="form__field">
    <label class="control-label control-label--req">Email</label>
    <input type="text" name="email" class="control-input" placeholder="email">
  </div>
  <div class="form__field">
    <label class="control-label control-label--req">Password</label>
    <input type="password" name="password" class="control-input" placeholder="password">
  </div>
  <div class="form__field">
    <button type="submit" class="button button--primary">Submit</button>
  </div>
</form>
{{ end }}

{{ define "js" }}{{ end }}